*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio
*.apk
*.ap_
*.aab

# Gradle
.gradle/
.gradle-home/
build/

# Local configuration
local.properties

# Log Files
*.log

# Android Profiling
*.hprof

# Local debug signing only
debug.keystore

# Offline build caches
app/libs/
